.main-benefits {
    background: var(--section-bg-color);
}

.benefits-list__team {
    max-width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.benefits-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-list__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}